@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
*,
*:after,
*:before {
    box-sizing: border-box;
}
body,
html {
    margin: 0;
    padding: 0;
}
.hide {
    display: none;
}
body {
    color: #555;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    text-align: center;
    background: #EF4056;
}
header {
    background: #fff;
    padding: 60px 0 130px 0;
}
header:before {
    content: "";
    left: 0;
    position: fixed;
    width: 100%;
    background: #fff;
    top: -500px;
    height: 500px;
}
p.error {
    color: #721c24;
    background-color: #f8d7da;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #f5c6cb;
    border-radius: .25rem;
}
.container {
    margin: 0 auto;
    width: 100%;
    position: relative;
    max-width: 960px;
}
.logo {
    display: block;
    margin: 0 auto 60px auto;
}
.visual {
    padding-bottom: 50px;
    position: relative;
}
.visual img {
    width: 100%;
    max-width: 814px;
    margin-top: -50px;
}
h1 {
    font-size: 50px;
    color: #0F172A;
    line-height: 60px;
    font-weight: 100;
    margin: 0 0 20px 0;
}
p {
    display: inline-block;
    max-width: 500px;
    margin: 0 auto;
    line-height: 20px;
    color: #666;
    font-size: 14px;
}
.button {
    clear: both;
    float: none;
    display: block;
    text-align: center;
    color: #fff;
    background: #EF4056;
    border-radius: 30px;
    padding: 15px 30px;
    font-weight: bold;
    text-decoration: none;
    width: 200px;
    margin: 40px auto 0 auto;
}
.tag__wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    color: #333;
}
.tag__wrapper .tag {
    background: #fff;
    font-size: 12px;
    display: inline-block;
    padding: 7px 15px;
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2)
}
.tag.tag--big {
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 30px;
}
#tag__topleft {
    top: 80px;
    left: 0px;
}
#tag__topleft:before {
    content: "";
    width: 50px;
    background: #DA3146;
    height: 7px;
    position: absolute;
    top: 80px;
    border-radius: 20px;
    left: -90px;
}
#tag__topleft:after {
    content: "";
    width: 60px;
    background: #DA3146;
    height: 12px;
    position: absolute;
    top: 200px;
    border-radius: 15px;
    left: 0px;
}
#tag__topright {
    right: 120px;
    top: 65px;
}
#tag__bottomleft {
    top: 200px;
    left: 90px;
}
#tag__bottomright {
    right: 54px;
    top: 200px;
}
#tag__topright:before {
    content: "";
    width: 50px;
    background: #DA3146;
    height: 7px;
    position: absolute;
    top: 40px;
    border-radius: 20px;
    right: -150px;
}
#tag__topright:after {
    content: "";
    width: 40px;
    background: #DA3146;
    height: 10px;
    position: absolute;
    top: 250px;
    border-radius: 15px;
    right: -90px;
}
@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}
.clear {
    clear: both;
}
@media (max-width: 760px) {
    .container {
        padding: 0 40px;
    }
    .logo {
        margin: 0 auto 30px auto;
    }
    h1 {
        font-size: 30px;
        line-height: 36px;
    }
    .tag__wrapper {
        display: none;
    }
    .responses .alert div {
        width: 100%;
    }
    .responses .alert__authorized div input {
        width: 100%;
        margin: 0;
    }
    .responses .alert__authorized div .button {
        margin-left: 0;
        margin-top: 10px;
    }
}
.responses .alert {
    padding: 40px;
    background: #8BC34A;
    color: #fff;
    position: relative;
    width: 100%;
}
.responses .alert p {
    color: #fff;
}
.responses .alert h3 {
    font-weight: 500;
    font-size: 25px;
    margin-top: 0;
}
.responses .alert input {
    height: 50px;
    border: none;
    border-radius: 40px;
    padding: 0 20px;
    font-size: 12px;
    background: none;
    border: 2px solid #ffffff6e;
    color: #fff;
    width: 200px;
    outline: none;
}
.responses form {
    width: 100%;
    max-width: 425px;
    margin: 30px auto;
}
.responses form div {
    float: left;
}
.responses .alert .button {
    margin-top: 0;
    margin-left: 20px;
    background: #fff;
    color: #8BC34A;
    display: inline-block;
    border: none;
}
.responses .alert__unauthorized {
    background: #f44336;
}
.responses .alert__unauthorized .button {
    color: #f44336;
    font-size: 12px;
    float: none;
    clear: both;
    width: 250px;
    display: block;
    margin: 30px auto 0 auto;
}
